*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    zoom: 1.5; 
    
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f6f6f6; 
    background: url(a4.jpg) no-repeat;
}

.list{
    width: 750px;
    height: 1000px;

}

.list h2{
    
    color: #fff;
    background: #000000;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.list ul{
    position: relative;
    background: #fff;

}

.list ul li{
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition: transform 0.5s;


}
/* 
.list ul li:hover{
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
    color: #fff;
} */

/* .list ul li span{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #25bcff;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-20px);
}

.list ul li:hover span{

    background: #fff;
    color: #25bcff;

} */

.candidate-name-title{
    margin-right: 100px;
}

.email-title{
    margin-right: 100px;
}

.candidate-name{
    margin-right: 130px;
}



.email{
    font-size: 12px;
    text-align: left;
    margin-right: 50px;
}

.phno{
    font-size: 12px;
    margin-right: 100px;
}


.view-profile-button button{
    background-color: black;
    color: white;
    font-size: 10px;
    width: 100px;
    height: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px grey;

}

.view-profile-button button:hover{
    transition: all .2s ease-in-out; 
    transform: scale(1.1);
    z-index: 100;
    background-color: white;
    color: black;
}


.form-control{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px ;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;

}

/* 
.button{
    height:45px;
    margin:45px 0;
    
}
    
.button input{
    height: 50px;
    width: 30%;
    outline: none;
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(#71b7e6,#9b59b6);
    
} */