body{
    background-image: url('Essentials/loginpagebg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    
}
/* The below code is for the Top navigation bar */
li, a {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding-right: 30px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px, 10%;
    background-color: black;
    border-radius: 0px 0px 20px 20px;
    height: 65px;
}

.logo {
    cursor: pointer;
    padding-left: 25px;

}

.nav_links {
    list-style: none;
    

}

.nav_links li{
    display: inline-block;
    padding: 0px,20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    
}

.nav_links li a:hover{
    color: #56ddff;
}

/* End of code for the Top navigation bar */


/* The below code is for the login box */

.login-box{
    top: 50%;
    left: 50%;
    
    position: absolute;
    transform: translate(-50%,-50%);
    /* margin-top: 20%;
    margin-left: 30%;
    margin-right: 10%; */
    background-color: white;
    

    width: 500px;
    height: 300px;
}

.login-box-input{
    padding: 40px;
}

.login-box-input input{
    width: 90%;
    margin-bottom: 30px;
    margin-top: 10px;

}

.login-box-input input[type="text"], input[type = "password"]{

    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 20px;
    transition: all 0.3s ease 0s;


}

.login-box-input input[type="text"]:focus, input[type="password"]:focus{

    border: none;
    border-bottom: 1px solid rgb(73, 255, 36);
    background: transparent;
    outline: none;
    height: 20px;

}


.login-box input[type="submit"]
{
    border: none;
    outline: none;
    color: white;
    background-color: black;
    height: 30px;
    border-radius: 20px;
    margin-left: 10%;
    width: 100px;

}
a{
    text-decoration: none;
    color: white;
}
.join-button button{
    border: none;
    outline: none;
    color: white;
    background-color: black;
    height: 30px;
    border-radius: 20px;
    margin-left: 30%;
    width: 120px;
    
}